#enviroment
ENV="local"

#crypto settings:
POSITION_ID = ""
ARB_RPC_URL = ""
ETHER_RPC_URL = ""
FACTORY_ADDRESS = ""
NFTMANAGER_ADDRESS = ""
QUOTER_CONTRACT_ADDRESS=""
ETHER_USDC_POOL_ADDRESS = ""
ARB_USDC_POOL_ADDRESS = ""

#db settings:
DATABASE_URL=""
DEBUG=0

#runnig settings:
INTERVAL = 

#notifer settings:
UNISWAP_POOL_URL_PREFIX = ""
UNISWAP_POSITION_URL_PREFIX = ""
WHATSAPP_USER_DANY = ""
WHATSAPP_USER_YUVAL = ""
WHATSAPP_ALERT_GROUP = ""
