#enviroment
ENV = ""

#crypto settings:
ARB_RPC_URL = ""
ETHER_RPC_URL = ""
FACTORY_ADDRESS = ""
NFTMANAGER_ADDRESS = ""
QUOTER_CONTRACT_ADDRESS = ""
USDC_TOKEN_TRACKER_ADDRESS_ETH = ""
USDC_TOKEN_TRACKER_ADDRESS_ARB = ""

#db settings:
DATABASE_URL=""
DEBUG=1

#runnig settings:
INTERVAL = 

#notifer settings:
PUSHOVER_TOKEN = ''
PUSHOVER_YUVAL = 
PUSHOVER_DANY = 

#don't repeat last alert unless an hour passed
REPEAT_ALERT_INTERVAL = 