#enviroment
export ENV=""

#crypto settings:
export ARB_RPC_URL=""
export ETHER_RPC_URL=""
export FACTORY_ADDRESS=""
export NFTMANAGER_ADDRESS=""
export QUOTER_CONTRACT_ADDRESS=""
export USDC_TOKEN_TRACKER_ADDRESS_ETH=""
export USDC_TOKEN_TRACKER_ADDRESS_ARB=""
#db settings:
export DATABASE_URL=""
export DEBUG=0


#discord bot:
export DISCORD_CLIENT_TOKEN=''

#runnig settings:
#interval for sampling positions
export INTERVAL=30000
#don't repeat last alert unless an hour passed
export REPEAT_ALERT_INTERVAL=3600000
export SKIP_EVENT_LOOP=1

#notifer settings:
export UNISWAP_POOL_URL_PREFIX=""
export UNISWAP_POSITION_URL_PREFIX=""

#logger settings:
PUSHOVER_TOKEN=
PUSHOVER_YUVAL=
PUSHOVER_DANY=
# only for envrc.test!

export SUITE_TO_RUN=""
