#enviroment
export ENV=""

#crypto settings:
export ARB_RPC_URL=""
export ETHER_RPC_URL=""
export FACTORY_ADDRESS=""
export NFTMANAGER_ADDRESS=""
export QUOTER_CONTRACT_ADDRESS=""
export USDC_TOKEN_TRACKER_ADDRESS_ETH=""
export USDC_TOKEN_TRACKER_ADDRESS_ARB=""

#db settings:
export DATABASE_URL=""
export DEBUG=0

# DISCORD settings:

# uniapp (production):
# SERVER ID: 1146013584300707890
# CHANNEL ID: 1146013586196545549
export DISCORD_CLIENT_TOKEN='MTE1NjkzMDU4Mzc1MTA0NTE0MQ.GLJ4rf.ff01wi149Q_7Xe5NrfkntcrEg-pGFkTQKu0ze4'
export DISCORD_CHANNEL_ID='1148883506643083276'
export DISCORD_CLIENT_ID='1146012429864681483'

# UniApp-local (dev):
# SERVER ID: 1156931077269622804
export DISCORD_CLIENT_TOKEN='MTE1NjkzMDU4Mzc1MTA0NTE0MQ.GTMtYJ._sUdVrekKjUJRf100WT_gpq9cnNj9BgMUMz6do'
export DISCORD_CHANNEL_ID='1156931077919752265'
export DISCORD_CLIENT_ID='1156930583751045141'

# UniApp-TEST (testing):
# public key: d32568cb2d6a8018ed7e653b54b78b1a4455771f63108b0726905163836ec7e8
# SERVER ID: 1165663002431868949
export DISCORD_TEST_CLIENT_TOKEN='MTE2NTY2MDgxMzg2NTAxMzI3OA.GfkQUI.L216MxzOTAXQ40xKI9yhzYa0UaJqCueO7Q7cRs'
export DISCORD_TEST_CHANNEL_ID='1165663003438489692'
export DISCORD_TEST_CLIENT_ID='1165660813865013278'

#runnig settings:
export SAMPLE_INTERVAL=
export ALERTS_CHECK_INTERVAL=
export SKIP_EVENT_LOOP=
export ALERTS_NOTIFY_INTERVAL_IN_MINUTES=

#logger settings:
export LOGZIO_TOKEN=''
export LOGZIO_HOST=''

# only for envrc.test!
export SUITE_TO_RUN=""