#enviroment
export ENV=""

#crypto settings:
export ARB_RPC_URL=""
export ETHER_RPC_URL=""
export FACTORY_ADDRESS=""
export NFTMANAGER_ADDRESS=""
export QUOTER_CONTRACT_ADDRESS=""
export ARB_TOKEN0_USDC_POOL_ADDRESS=""
export ARB_TOKEN1_USDC_POOL_ADDRESS=""
export ETH_TOKEN0_USDC_POOL_ADDRESS=""
export ETH_TOKEN1_USDC_POOL_ADDRESS=""
#db settings:
export DATABASE_URL=""
export DEBUG=0


#discord bot:
export DISCORD_CLIENT_TOKEN=''

#runnig settings:
export INTERVAL=30000
export SKIP_EVENT_LOOP=1

#notifer settings:
export UNISWAP_POOL_URL_PREFIX=""
export UNISWAP_POSITION_URL_PREFIX=""
export WHATSAPP_USER_DANY=""
export WHATSAPP_USER_YUVAL=""
export WHATSAPP_ALERT_GROUP=""

#logger settings:

